/* Extra CSS for Card */
@media (min-width: 544px) {
  .border-right {
    border-right: 1px solid #333;
  }
  .border-left {
    border-left: 1px solid #333;
  }
}

/* Return on Investment KPI */
.kpi {
  font-size: 42px;
}

.kpi-container {
  text-align: center;
  font-size: 16px;
}

.btn-add-stock {
  margin: 20px 0px 20px 0px;
}
