@font-face {
    font-family: 'circular';
    src: url('./fonts/CircularStd-Book.otf');
}

#app {
  font-family: 'circular';
}

/* Extra CSS for Card */
@media (min-width: 768px) {
  .border-right {
    border-right: 1px solid #333;
  }
  .border-left {
    border-left: 1px solid #333;
  }
}

.circular {
    font-family: 'circular';
}

/* Return on Investment KPI */
.kpi {
  font-family: 'circular';
  font-size: 5em;
}

.kpi-container {
  text-align: center;
  font-size: 16px;
}

.btn-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-remove-stock{
  margin-left: 10px;
}

.btn-delete {
  color: #ffffff;
}

.stock-card {
  font-family: 'circular';
  margin-bottom: 20px;
}

.svg {
  margin-left: 20px;
}

.loginbtn{
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 0px 20px 10px 0px;
}
